<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>BookShelf - Add Many Books</title>
    </head>

    <body>
        <h1>Add Many New Book</h1>


        <a th:href="@{/books}">Cancel</a>

        <!--
            th:action - the URL where the form send the POST request
            th:object - binds the form to the "book" object in the Model
            method=POST - define HTTP POST
        -->

        <form   
            th:action="@{/books/add-many-books}"
            th:object="${book}"
            method="post"
        >
            <button type="submit">Submit Many Books</button>


        </form>

    </body>


</html>